@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-myColor2;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-myColor4 rounded-xl;
}

.scrollbar-container {
  margin: 20px;
}
.scrollbar-find-user::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-find-user::-webkit-scrollbar-track {
  @apply bg-myColor5 rounded-sm;
}

.scrollbar-find-user::-webkit-scrollbar-thumb {
  @apply bg-myColor2 rounded-sm;
}


.scrollbar-message-user::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-message-user::-webkit-scrollbar-track {
  @apply bg-myColor5 rounded-sm;
}

.scrollbar-message-user::-webkit-scrollbar-thumb {
  @apply bg-myColor2 rounded-sm;
}
